# CHAPTER 3

#  Structures

###  3.1 Lists

In [1]:
 x = ["Pascaline", "Gauthier", "Xuan", "Jimmy"]
 print(x)

['Pascaline', 'Gauthier', 'Xuan', 'Jimmy']

Tạo danh sách chứa 4 chuỗi và print(x) hiển thị toàn bộ danh sách.

In [2]:
 y = [1, 2, 3, 4, 5]
 print(y)

[1, 2, 3, 4, 5]

in ra (y) Danh sách chứa số nguyên.

In [3]:
 z = ["Piketty", "Thomas", 1971]
 print(z)

['Piketty', 'Thomas', 1971]

in (z) Danh sách có thể chứa nhiều kiểu dữ liệu khác nhau bao gồm chữ và số

In [5]:
tweets = ["aaa", "bbb"]
followers = ["Anne", "Bob", "Irma", "John"]
compte = [tweets, followers]
print(compte)

[['aaa', 'bbb'], ['Anne', 'Bob', 'Irma', 'John']]

Danh sách có thể chứa danh sách con

#### 3.1.1 Extraction of the Elements

In [6]:
 print(x[0]) # The first element of x

Pascaline

In [7]:
 print(x[1]) # The second element of x

Gauthier

Chỉ số (index) bắt đầu từ 0.

In [8]:
print(x[-1]) # The last element of x

Jimmy

In [9]:
 print(x[-2]) # The penultimate element of x

Xuan

Dùng chỉ số âm để đếm từ cuối.

In [10]:
print(x[1:2]) # The first and second elements of x

['Gauthier']

Cắt từ index 1 đến trước index 2 (trả về list).

In [11]:
 print(x[2:]) # From the second element (not included) to the end of x

['Xuan', 'Jimmy']

In [12]:
 print(x[:-2]) # From the first to the penultimate (not included)

['Pascaline', 'Gauthier']

x[start:] → từ vị trí start đến hết.

x[:-n] → từ đầu đến trước phần tử thứ n tính từ cuối.

In [14]:
 print(x[::2]) # Every other element

['Pascaline', 'Xuan']

Tham số thứ 3 là bước nhảy (step) → lấy 1 phần tử, bỏ 1 phần tử.

In [15]:
 tweets = ["aaa", "bbb"]
 followers = ["Anne", "Bob", "Irma", "John"]
 conuts = [tweets, followers]
 res = conuts[1][3] # The 4th item of the 2nd item on the list counts

In [16]:
 print(len(conuts))

2

In [17]:
 print(len(conuts[1]))

4

Số lượng phần tử trong danh sách được tính bằng hàm len():

#### 3.1.2 Modification

#####  3.1.2.1 Replacement

In [18]:
 x = [1, 3, 5, 6, 9]
 x[3] = 7 # Replacing the 4th element
 print(x)

[1, 3, 5, 7, 9]

x[3] = 7 → Truy cập phần tử thứ 4 của list x (index = 3) và gán giá trị mới là 7.

#####  3.1.2.2 Adding Elements

In [20]:
 x.append(11) # Add value 11 at the end of the list
 print(x)

[1, 3, 5, 7, 9, 11]

x.append(11) → Thêm giá trị 11 vào cuối danh sách x và print(x) → In ra danh sách sau khi đã thêm 11.

In [21]:
 y = [13, 15]
 x.extend(y)
 print(x)

[1, 3, 5, 7, 9, 11, 13, 15]

x.extend(y) → Nối toàn bộ phần tử của list y (13, 15) vào cuối danh sách x và print(x) → In ra danh sách x sau khi đã được nối.

x.extend(y) → Nối toàn bộ phần tử của list y (13, 15) vào cuối danh sách x và print(x) → In ra danh sách x sau khi đã được nối.

#####  3.1.2.3 Deleting Elements

In [23]:
x.remove(3) # Remove the fourth element
print(x)

[1, 5, 7, 9, 11, 13, 15]

Để xóa một mục khỏi danh sách

In [25]:
x = [1, 3, 5, 6, 9]
del x[3] # Remove the fourth element
print(x)

[1, 3, 5, 9]

del x[3] → Xóa phần tử thứ 4 của list x (giá trị 6) và print(x) → In ra danh sách x sau khi đã xóa.

#####  3.1.2.4 Multiple assignments

In [2]:
 x = [1, 3, 5, 6, 10]
 x[3:5] = [7, 9] # Replaces 4th and 5th values
 print(x)

[1, 3, 5, 7, 9]

x[3:5] = [7, 9] → Thay phần tử thứ 4 và 5 của list x bằng giá trị 7 và 9 và print(x) → In ra danh sách x sau khi đã thay đổi.

In [4]:
x = [1, 2, 3, 4, 5]
x[2:3] = ['a', 'b', 'c', 'd'] # Replaces the 3rd value
print(x)

[1, 2, 'a', 'b', 'c', 'd', 4, 5]

x[2:3] = ['a', 'b', 'c', 'd'] → Thay phần tử thứ 3 của list x bằng 'a', 'b', 'c', 'd' và print(x) → In ra danh sách x sau khi đã thay đổi.

In [6]:
x = [1, 2, 3, 4, 5]
x[3:5] = [] # Removes the 4th and 5th values
print(x)

[1, 2, 3]

x[3:5] = [] → Xóa phần tử thứ 4 và 5 của list x và print(x) → In ra danh sách x sau khi đã xóa.

#### 3.1.3 Verifying if a Value is Present

In [9]:
x = [1, 2, 3, 4, 5]
print(1 in x)

True

print(1 in x) → Kiểm tra xem giá trị 1 có trong list x hay không và in ra True nếu có, False nếu không.

#### 3.1.4 Copy of List

In [10]:
 x = [1, 2, 3]
 y = x

In [11]:
 y[0] = 0
 print(y)

[0, 2, 3]

In [12]:
print(x)

[0, 2, 3]

y = x → Gán y tham chiếu đến cùng danh sách với x và y[0] = 0 → Thay phần tử đầu tiên thành 0 và
print(y) → In ra danh sách y sau khi đã thay đổi.

In [14]:
x = [1, 2, 3]
y = list(x)
y[0] = 0
print("x : ", x)

x :  [1, 2, 3]

y = list(x) → Tạo một bản sao mới của list x và y[0] = 0 → Thay phần tử đầu tiên của y thành 0 (không ảnh hưởng x) và
print("x : ", x) → In ra danh sách x gốc.

In [15]:
print("y : ", y)

y :  [0, 2, 3]

print("y : ", y) → In ra danh sách y sau khi đã thay đổi.

In [17]:
x = [1, 2, 3, 4]
y = x[:2]
y[0] = 0
print("x : ", x)

x :  [1, 2, 3, 4]

In [18]:
 print("y : ", y)

y :  [0, 2]

y = x[:2] → Tạo list y là bản sao gồm 2 phần tử đầu của x và y[0] = 0 → Thay phần tử đầu tiên của y thành 0 (không ảnh hưởng x)

print("x : ", x) → In ra danh sách x gốc và
print("y : ", y) → In ra danh sách y sau khi đã thay đổi.

####  3.1.5 Sorting

In [20]:
x = [2, 1, 4, 3]
x.sort()
print(x)

[1, 2, 3, 4]

x.sort() → Sắp xếp các phần tử của list x theo thứ tự tăng dần và print(x) → In ra danh sách x sau khi đã sắp xếp.

In [22]:
x = ["c", "b", "a", "a"]
x.sort()
print(x)

['a', 'a', 'b', 'c']

x.sort() → Sắp xếp các phần tử của list x theo thứ tự chữ cái (alphabetical order) và print(x) → In ra danh sách x sau khi đã sắp xếp.

In [23]:
x = ["aa", "a", "aaaaa", "aa"]
x.sort(key=len)
print(x)

['a', 'aa', 'aa', 'aaaaa']

x.sort(key=len) → Sắp xếp các phần tử của list x theo độ dài chuỗi (ngắn → dài) và print(x) → In ra danh sách x sau khi đã sắp xếp.

### 3.2 Tuples

In [24]:
 x = 1, 4, 9, 16, 25
 print(x)

(1, 4, 9, 16, 25)

x = 1, 4, 9, 16, 25 → Tạo một tuple gồm các giá trị 1, 4, 9, 16, 25 và print(x) → In ra tuple x.

#### 3.2.1 Extraction of the Elements

In [25]:
print(x[0])

1

print(x[0]) → In ra phần tử đầu tiên của tuple x, giá trị là 1

####  3.2.2 Modification

In [26]:
x[0] = 1

TypeError: 'tuple' object does not support item assignment

x[0] = 1 → Cố gắng thay đổi phần tử đầu tiên của tuple x, sẽ báo lỗi vì tuple là immutable (không thể thay đổi sau khi tạo).

In [28]:
 x = ((1, 4, 9, 16), (1, 8, 26, 64))
 print(x)

((1, 4, 9, 16), (1, 8, 26, 64))

x = ((1, 4, 9, 16), (1, 8, 26, 64)) → Tạo một tuple lồng nhau gồm 2 tuple con và print(x) → In ra tuple x.

###  3.3 Sets

In [33]:
 new_set = set({"Marseille", "Aix-en-Provence",
                 "Nice", "Rennes"})
 print(new_set)

{'Aix-en-Provence', 'Nice', 'Marseille', 'Rennes'}

new_set = set({"Marseille", "Aix-en-Provence", "Nice", "Rennes"}) → Tạo một set chứa các thành phố (các giá trị duy nhất, không theo thứ tự) và print(new_set) → In ra set new_set.

In [35]:
new_set = {"Marseille", "Aix-en-Provence", "Nice", "Rennes"}
print(new_set)

{'Aix-en-Provence', 'Nice', 'Marseille', 'Rennes'}

new_set = {"Marseille", "Aix-en-Provence", "Nice", "Rennes"} → Tạo một set chứa các thành phố và print(new_set) → In ra set new_set.

In [40]:
empty_set = {}
print(type(empty_set))

<class 'dict'>

empty_set = {} → Tạo một dictionary rỗng, không phải set và type(empty_set) → Kiểm tra kiểu dữ liệu của empty_set, kết quả là <class 'dict'>

In [37]:
empty_set = set()
print(type(empty_set))

<class 'set'>

empty_set = set() → Tạo một set rỗng và print(type(empty_set)) → In ra kiểu dữ liệu của empty_set, kết quả là <class 'set'>.

In [42]:
new_set = set({"Marseille", "Aix-en-Provence", "Nice", "Marseille", "Rennes"})
print(new_set)

{'Aix-en-Provence', 'Nice', 'Marseille', 'Rennes'}

new_set = set({"Marseille", "Aix-en-Provence", "Nice", "Marseille", "Rennes"}) → Tạo một set từ các giá trị, tự động loại bỏ các giá trị trùng lặp và 
print(new_set) → In ra set new_set chỉ chứa các giá trị duy nhất.

In [43]:
print(len(new_set))

4

print(len(new_set)) → In ra số lượng phần tử trong set new_set.

#### 3.3.1 Modifications

##### 3.3.1.1 Adding Elements

In [44]:
 new_set.add("Toulon")
 print(new_set)

{'Aix-en-Provence', 'Nice', 'Marseille', 'Toulon', 'Rennes'}

new_set.add("Toulon") → Thêm phần tử "Toulon" vào set new_set và print(new_set) → In ra set new_set sau khi thêm.

##### 3.3.1.2 Deletion

In [46]:
 new_set.remove("Toulon")
 print(new_set)

{'Aix-en-Provence', 'Nice', 'Marseille', 'Rennes'}

new_set.remove("Toulon") → Xóa phần tử "Toulon" khỏi set new_set và print(new_set) → In ra set new_set sau khi xóa.

In [49]:
new_set.remove("Toulon")

KeyError: 'Toulon'

`new_set.remove("Toulon")` → Cố gắng xóa phần tử `"Toulon"` khỏi set `new_set`; nếu `"Toulon"` không có trong set, Python sẽ báo **KeyError**.

In [50]:
print(new_set)

{'Aix-en-Provence', 'Nice', 'Marseille', 'Rennes'}

`print(new_set)` → In ra nội dung hiện tại của set `new_set`.

####  3.3.2 Belonging test

In [51]:
print("Marseille" in new_set)

True

In [52]:
print("Paris" in new_set)

False

`print("Marseille" in new_set)` → Kiểm tra xem `"Marseille"` có trong set `new_set` hay không, in ra `True` hoặc `False` 

`print("Paris" in new_set)` → Kiểm tra xem `"Paris"` có trong set `new_set` hay không, in ra `True` hoặc `False`.

#### 3.3.3 Copying a Set

In [54]:
 new_set = set({"Marseille", "Aix-en-Provence", "Nice"})
 y = new_set.copy()
 y.add("Toulon")
 print("y : ", y)

y :  {'Aix-en-Provence', 'Nice', 'Marseille', 'Toulon'}

y = new_set.copy() → Tạo một bản sao của set new_set và
y.add("Toulon") → Thêm "Toulon" vào set y và
print("y : ", y) → In ra set y sau khi thêm.

In [3]:
print("set : ", new_set)

set :  {'Nice', 'Marseille', 'Aix-en-Provence'}

`print("set : ", new_set)` → In ra set gốc `new_set`, không bị ảnh hưởng bởi các thay đổi trên `y`.

####  3.3.4 Conversion to a List

In [4]:
 my_list = ["Marseille", "Aix-en-Provence", "Marseille", "Marseille"]
 print(my_list)

['Marseille', 'Aix-en-Provence', 'Marseille', 'Marseille']

my_list = ["Marseille", "Aix-en-Provence", "Marseille", "Marseille"] → Tạo một list chứa các phần tử, có thể trùng nhau và print(my_list) → In ra danh sách my_list.

In [5]:
 my_set = set(my_list)
 print(my_set)

{'Marseille', 'Aix-en-Provence'}

`my_set = set(my_list)` → Chuyển list `my_list` thành **set**, tự động loại bỏ các giá trị trùng lặp **và** `print(my_set)` → In ra set `my_set` chỉ chứa các phần tử **duy nhất**.

In [6]:
 my_new_list = list(my_set)
 print(my_new_list)

['Marseille', 'Aix-en-Provence']

`my_new_list = list(my_set)` → Chuyển set `my_set` trở lại thành **list** **và** `print(my_new_list)` → In ra danh sách `my_new_list` gồm các phần tử duy nhất từ `my_list`.

### 3.4 Dictionaries

In [8]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

`empty_dict = {}` → Tạo một **dictionary rỗng** **và** `print(type(empty_dict))` → In ra kiểu dữ liệu của `empty_dict`, kết quả là `<class 'dict'>`.

In [9]:
 my_dict = { "nom": "Kyrie",
 "prenom": "John",
 "naissance": 1992,
 "equipes": ["Cleveland", "Boston"]}
 print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Cleveland', 'Boston']}

`my_dict = { "nom": "Kyrie", "prenom": "John", "naissance": 1992, "equipes": ["Cleveland", "Boston"]}` → Tạo một **dictionary** với các cặp key-value **và**
`print(my_dict)` → In ra dictionary `my_dict`.

In [10]:
 x = dict([("Julien-Yacine", "Data-scientist"),
 ("Sonia", "Director")])
 print(x)

{'Julien-Yacine': 'Data-scientist', 'Sonia': 'Director'}

`x = dict([("Julien-Yacine", "Data-scientist"), ("Sonia", "Director")])` → Tạo một **dictionary** từ danh sách các tuple key-value **và**
`print(x)` → In ra dictionary `x`.

#### 3.4.1 Extraction of the Elements

In [11]:
print(my_dict["prenom"])

John

`print(my_dict["prenom"])` → Truy xuất giá trị tương ứng với key `"prenom"` trong dictionary `my_dict` và in ra (`John`).

In [12]:
print(my_dict["equipes"])

['Cleveland', 'Boston']

`print(my_dict["equipes"])` → Truy xuất giá trị tương ứng với key `"equipes"` trong dictionary `my_dict` và in ra (list `['Cleveland', 'Boston']`).

In [13]:
 print(my_dict["age"])

KeyError: 'age'

`print(my_dict["age"])` → Cố gắng truy xuất giá trị của key `"age"` trong dictionary `my_dict`; vì key này không tồn tại, Python sẽ báo **KeyError**.

In [14]:
 print("prenom" in my_dict)

True

In [16]:
print("age" in my_dict)

False

`print("prenom" in my_dict)` → Kiểm tra xem key `"prenom"` có trong dictionary `my_dict` hay không, in ra `True` hoặc `False`

`print("age" in my_dict)` → Kiểm tra xem key `"age"` có trong dictionary `my_dict` hay không, in ra `True` hoặc `False`.

In [17]:
print(my_dict.get("prenom"))

John

In [18]:
print(my_dict.get("age"))

None

`print(my_dict.get("prenom"))` → Lấy giá trị của key `"prenom"` trong `my_dict`, nếu không tồn tại trả về `None` (**John**).

`print(my_dict.get("age"))` → Lấy giá trị của key `"age"` trong `my_dict`, vì key không tồn tại nên trả về `None`.

#### 3.4.2 Keys and values

In [21]:
the_keys = my_dict.keys()
print(the_keys)

dict_keys(['nom', 'prenom', 'naissance', 'equipes'])

`the_keys = my_dict.keys()` → Lấy tất cả các **key** của dictionary `my_dict` dưới dạng `dict_keys` **và**
`print(the_keys)` → In ra danh sách các key.

In [22]:
 print(type(the_keys))

<class 'dict_keys'>

`print(type(the_keys))` → In ra kiểu dữ liệu của `the_keys`, kết quả là `<class 'dict_keys'>`.

In [24]:
the_keys_list = list(the_keys)
print(the_keys_list)

['nom', 'prenom', 'naissance', 'equipes']

`the_keys_list = list(the_keys)` → Chuyển `dict_keys` thành **list** **và**
`print(the_keys_list)` → In ra danh sách các key của dictionary.

In [25]:
 the_values = my_dict.values()
 print(the_values)

dict_values(['Kyrie', 'John', 1992, ['Cleveland', 'Boston']])

`the_values = my_dict.values()` → Lấy tất cả **giá trị** của dictionary `my_dict` dưới dạng `dict_values` **và**
`print(the_values)` → In ra danh sách các giá trị.

In [26]:
 print(type(the_values))

<class 'dict_values'>

`print(type(the_values))` → In ra kiểu dữ liệu của `the_values`, kết quả là `<class 'dict_values'>`.

In [27]:
 the_items = my_dict.items()
 print(the_items)

dict_items([('nom', 'Kyrie'), ('prenom', 'John'), ('naissance', 1992), ('equipes', ['Cleveland', 'Boston'])])

`the_items = my_dict.items()` → Lấy tất cả **cặp key-value** của dictionary `my_dict` dưới dạng `dict_items` **và**
`print(the_items)` → In ra danh sách các cặp key-value.

In [28]:
 print(type(the_items))

<class 'dict_items'>

`print(type(the_items))` → In ra kiểu dữ liệu của `the_items`, kết quả là `<class 'dict_items'>`.

####  3.4.3 Search for Belonging

In [29]:
print("age" in the_keys)

False

In [30]:
 print("nom" in the_keys)

True

In [31]:
print(['Cleveland', 'Boston'] in the_values)

True

`print("age" in the_keys)` → Kiểm tra xem key `"age"` có trong các key của dictionary hay không, in ra `False` 

`print("nom" in the_keys)` → Kiểm tra xem key `"nom"` có trong các key của dictionary hay không, in ra `True`

`print(['Cleveland', 'Boston'] in the_values)` → Kiểm tra xem list `['Cleveland', 'Boston']` có trong các giá trị của dictionary hay không, in ra `True`.

#### 3.4.4 Modification

##### 3.4.4.1 Replacement

In [32]:
 my_dict["equipes"] = ["Montclair Kimberley Academy",
 "Cleveland Cavaliers", "Boston Celtics"]
 print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics']}

`my_dict["equipes"] = ["Montclair Kimberley Academy", "Cleveland Cavaliers", "Boston Celtics"]` → Thay giá trị của key `"equipes"` trong dictionary `my_dict` **và**
`print(my_dict)` → In ra dictionary `my_dict` sau khi thay đổi.

##### 3.4.4.2 Adding Elements

In [33]:
my_dict["taille_cm"] = 191
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics'], 'taille_cm': 191}

`my_dict["taille_cm"] = 191` → Thêm key `"taille_cm"` với giá trị `191` vào dictionary `my_dict` **và**
`print(my_dict)` → In ra dictionary `my_dict` sau khi thêm.

In [34]:
 second_dict = {"masse_kg" : 88, "debut_nba" : 2011}
 print(second_dict)

{'masse_kg': 88, 'debut_nba': 2011}

`second_dict = {"masse_kg" : 88, "debut_nba" : 2011}` → Tạo một **dictionary** mới với các cặp key-value **và**
`print(second_dict)` → In ra dictionary `second_dict`.

In [35]:
my_dict.update(second_dict)
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics'], 'taille_cm': 191, 'masse_kg': 88, 'debut_nba': 2011}

`my_dict.update(second_dict)` → Thêm tất cả các cặp key-value từ `second_dict` vào `my_dict` (nếu key trùng sẽ ghi đè) **và**
`print(my_dict)` → In ra dictionary `my_dict` sau khi cập nhật.

In [37]:
second_dict["poste"] = "PG"
print(second_dict)

{'masse_kg': 88, 'debut_nba': 2011, 'poste': 'PG'}

`second_dict["poste"] = "PG"` → Thêm key `"poste"` với giá trị `"PG"` vào dictionary `second_dict` **và**
`print(second_dict)` → In ra dictionary `second_dict` sau khi thêm.

In [38]:
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics'], 'taille_cm': 191, 'masse_kg': 88, 'debut_nba': 2011}

`print(my_dict)` → In ra dictionary `my_dict` để kiểm tra rằng nó **không bị ảnh hưởng** bởi thay đổi trên `second_dict`.

#####  3.4.4.3 Deleting elements

In [40]:
del my_dict["debut_nba"]
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics'], 'taille_cm': 191, 'masse_kg': 88}

`del my_dict["debut_nba"]` → Xóa cặp key-value có key `"debut_nba"` khỏi dictionary `my_dict` **và**
`print(my_dict)` → In ra dictionary `my_dict` sau khi xóa.

In [41]:
 res = my_dict.pop("masse_kg")
 print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics'], 'taille_cm': 191}

`res = my_dict.pop("masse_kg")` → Xóa cặp key-value có key `"masse_kg"` khỏi dictionary `my_dict` và gán giá trị bị xóa vào biến `res` **và**
`print(my_dict)` → In ra dictionary `my_dict` sau khi xóa.

In [42]:
print(res)

88

`print(res)` → In ra giá trị đã bị xóa khỏi dictionary `my_dict`, ở đây là `88`.

####  3.4.5 Copy of a Dictionary

In [43]:
 d = {"Marseille": 13, "Rennes" : 35}
 d2 = d.copy()
 d2["Paris"] = 75
 print("d: ", d)

d:  {'Marseille': 13, 'Rennes': 35}

`d2 = d.copy()` → Tạo một **bản sao** của dictionary `d` 

`d2["Paris"] = 75` → Thêm key `"Paris"` với giá trị `75` vào dictionary `d2` 

`print("d: ", d)` → In ra dictionary gốc `d`, không bị ảnh hưởng bởi thay đổi trên `d2`.

In [45]:
print("d2: ", d2)

d2:  {'Marseille': 13, 'Rennes': 35, 'Paris': 75}

`print("d2: ", d2)` → In ra dictionary `d2` sau khi thêm key `"Paris"` với giá trị `75`.

#### 3.4.6 Exercise

#### 1

In [48]:
photo = {
    "id": 1,
    "description": "A photo of the Old Port of Marseille",
    "loc": [5.3772133, 43.302424]
}

#### 2

In [49]:
photo["user"] = "bob"

#### 3

In [50]:
if "description" in photo:
    print("description:", photo["description"])

description: A photo of the Old Port of Marseille

#### 4

In [51]:
del photo["user"]

#### 5

In [52]:
photo["loc"] = [5.3692712, 43.2949627]

#### 6

In [53]:
print(photo)

{'id': 1, 'description': 'A photo of the Old Port of Marseille', 'loc': [5.3692712, 43.2949627]}